.zontainer > div {
  display: flex;
  flex-direction: column;
}

.zontainer img {
  width: 100%;
}

.zontainer > div > div {
  order: 1;
}

.zontainer > div > .zontainer-img-col {
  order: 0;
}

.zontainer > div > .zontainer-img-col img {
  display: block;
}

@media (width >= 900px) {
  .zontainer > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .zontainer > div > div {
    flex: 1;
    order: unset;
  }
}
