.container {
    background-color: aquamarine;
}

.container.red-container {
    background-color: red;
}

.container.green-container {
    background-color: green;
}

.container.blue-container {
    background-color: blue;
}
